/* Спецификация */

body {
   font-family: Arial;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

/* Первый экран */

.header {
    background: #000;
    padding-bottom: 15px;
}

.logo {
    margin-top: 20px;
}

.menu {
    margin-top: 35px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item a {
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    text-transform: uppercase;
}
/* Тескствый блок*/

p {
  text-align: justify;
}

.text_block {
  margin-bottom: 100px;
}

.post {
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.date p {
    margin-top: 20px;
    color: #828282;
    text-align: right;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    text-decoration: none;
}

/* Футер */

.footer {
    background: #000;
    padding: 50px 0 50px;
}

.credits {
    color: #fff;
    font-size: 16px;
    width: 185px;
    margin: 0 auto;
    text-align: center;
}


/* Медиа-запросы */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .title__text {
        width: auto;
    }

    .post {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}
